@import url('https://fonts.googleapis.com/css?family=Mulish');

:root {
  --primary-bg-color: #FFFFFF;
  --primary-logo-text-color: #FFFFFF;
  --primary-logo-bg-color: #458FF6;
  --secondary-logo-text-color: #458FF6;
  --secondary-logo-bg-color: #FFFFFF;
  
  --primary-divider-color: #000000;

  --primary-text-color: #000000;
  --secondary-text-color: #7D7987;
  --footer-text-color: #FFFFFF;

  --primary-button-border-color: #458FF6;
  --primary-button-bg-color: #458FF6;
  --primary-button-text-color: #FFFFFF;
  --secondary-button-bg-color: #FFFFFF;
  --secondary-button-text-color: #458FF6;

  --primary-card-bg-color: #FFFFFF;
  --primary-card-shadow-color: rgba(229, 233, 246, 0.4);

  --footer-gradient: linear-gradient(183deg, #67C3F3 -8.57%, #5A98F2 82.96%);

  color: var(--primary-text-color);
  font-family: 'Mulish', serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}
a:visited { 
  text-decoration: none;
}